
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    ::-ms-clear {
        display: none;
    }

    #myBtn {
        bottom: 70px !important
    }

    .contactButton {
        position: relative !important
    }

    #mainDiv {
        padding-bottom: 69px
    }

    #mainGecikmeli {
        padding-bottom: 69px
    }

    .sticky {
        /*position: -webkit-sticky !important;*/
        position: relative;
        top: 0px
    }

    #notButton {
        bottom: 0px !important;
    }
}

@media screen and (max-width: 2000px) {
        .navBasicDiv {
            height: 25px !important;
            margin: 10px;
            padding: 10px;
            font-size: 12px;
        }
}

@media screen and (max-width: 1600px) {
    .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
        padding: 0.2rem 0.2rem 0.2rem;
    }

    body {
        font-size: 10px !important
    }

    h2 {
        font-size: 13px !important;
    }

    .performanceBox li h5 {
        line-height: 9px !important;
        top: 17px !important;
        left: 54px !important;
        font-size: 12px !important;
    }

    .performanceBox li h2 {
        left: 54px !important;
        font-size: 11px !important;
        padding-right: 0px !important;
    }

    .performanceBox li h4 {
        font-size: 12px !important;
    }

    .cfSelectbox2 {
        padding: 5px !important;
    }

        .cfSelectbox p, .cfSelectbox2 p {
            width: 15px !important;
            height: 15px !important;
        }

        .cfSelectbox span.active p,
        .cfSelectbox span p,
        .cfSelectbox2 span.active p {
            background-size: 8px auto !important;
            top: 5px !important;
        }

        .cfSelectbox span, .cfSelectbox2 span {
            height: 25px !important;
            line-height: 25px !important;
            font-size: 12px !important;
        }

    .contentFilterSelectbox b {
        background: url(img/iconFilterDropdown.png) no-repeat 94% center #FDFCFF;
        background-size: auto;
        background-size: 10px auto;
        border: 1px solid #F0E8FF;
        line-height: 28px;
        display: block;
        border-radius: 10px;
        padding: 0 30px 0 10px;
        width: 100% !important;
        font-size: 10px;
        color: #666F85;
        position: relative;
        margin-top: 5px;
    }

    .tableMiniFilter span {
        line-height: 20px !important;
        margin-right: 7px !important;
        font-size: 9px !important;
    }

    .navMenu li a {
        padding: 0 3px !important;
        height: 35px !important;
    }

    .menuA i, .menuB i, .menuC i, .menuD i, .menuE i, .menuF i, .menuD i, .menuH i, .menuG i {
        height: 20px !important;
        background-size: 26px auto !important;
    }

    .navMenu li span {
        font-size: 9px !important;
        padding-top: 19px !important;
    }

    ol, ul, dl {
        margin-top: 3px !important;
    }

    .navMenu li {
        height: 35px !important;
    }

    .tab {
        height: 40px !important;
        min-height: 40px !important;
    }

    .navBasicDiv {
        height: 25px !important;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 10px !important
    }

    h2 {
        font-size: 13px !important;
    }

    .secondnpl {
        font-size: 12px !important;
    }

    .thirdnpl {
        padding-right: 7px !important;
        padding-top: 11px !important;
        font-size: 12px !important;
    }

    .btnChart {
        padding: 0 0.5rem !important
    }

    tbody.kirilimTable td {
        padding: 0 !important
    }

    .performanceBox li h5 {
        font-size: 9px !important;
    }
    .performanceBox li h4 {
        height: 20px !important;
        line-height: 20px !important;
    }
    .contentFilterSelectbox b {
        background: url(img/iconFilterDropdown.png) no-repeat 94% center #FDFCFF;
        background-size: auto;
        background-size: 10px auto;
        border: 1px solid #F0E8FF;
        line-height: 28px;
        display: block;
        border-radius: 10px;
        padding: 0 30px 0 10px;
        width: 100% !important;
        font-size: 9px;
        color: #666F85;
        position: relative;
        margin-top: 5px;
    }

    .nav-link {
        padding: 0rem 1rem;
    }

    .contentFilterSelectbox {
        padding: 16px 5px;
    }

    .tt3 {
        padding-top: 10px !important;
    }

    .tableTitleText {
        font-size: 11px;
    }

    .tab {
        height: 40px !important;
        min-height: 40px !important;
    }

    .navMenu li a {
        padding: 0 3px !important;
        height: 35px !important;
    }

    .menuA i, .menuB i, .menuC i, .menuD i, .menuE i, .menuF i, .menuD i, .menuH i, .menuG i {
        height: 20px !important;
        background-size: 26px auto !important;
    }

    .navMenu li span {
        font-size: 9px !important;
        padding-top: 19px !important;
    }

    ol, ul, dl {
        margin-top: 3px !important;
    }

    .navMenu li {
        height: 35px !important;
    }

    .onayIcon {
        font-size: 30px !important;
    }

    .performanceBox li i {
        width: 25px !important;
        height: 25px !important;
        top: 6px !important;
    }

    .performanceBox li h5 {
        line-height: 9px !important;
        top: 17px !important;
        left: 36px !important;
        font-size: 9px !important;
        top: 7px !important;
    }

    .performanceBox li h2 {
        float: left !important;
        height: 10px !important;
        line-height: 18px !important;
        margin-top: 10px !important;
        position: absolute !important;
        left: 36px !important;
        top: 7px !important;
        font-size: 10px !important;
    }

    .performanceBox li {
        height: 40px !important;
    }

    .basvuruIcon i {
        width: 25px !important;
        height: 25px !important;
        background: url("img/2394347.png") no-repeat center center #792FFF !important;
        background-size: 25px auto !important;
    }

    .KKH4 {
        font-size: 10px !important;
    }

    tbody.tableContent td {
        height: 30px !important;
        font-size: 10px !important;
        max-width: 120px !important;
    }

    tbody#tableBodyOzet tr td:nth-child(1) a {
        font-size: 10px !important;
    }

    tfoot.tableFooter a {
        font-size: 10px !important;
    }

    .tableHeader tr:nth-child(1) td {
        font-size: 10px !important;
    }

    .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
        padding: 0.5rem 0.5rem 0.75rem;
    }

    .cfSelectbox2 {
        padding: 5px !important;
    }

        .cfSelectbox p, .cfSelectbox2 p {
            width: 15px !important;
            height: 15px !important;
        }

        .cfSelectbox span.active p, .cfSelectbox2 span.active p {
            background-size: 8px auto !important;
            top: 5px !important;
        }

        .cfSelectbox span, .cfSelectbox2 span {
            height: 25px !important;
            line-height: 25px !important;
        }

    #kiyasZaman_3 input, #zaman_6 input {
        background: url("img/iconCalendar.png") no-repeat 75px center;
        font-size: 10px !important;
        line-height: 28px !important;
        height: 28px !important;
        width: 100px !important;
        background-size: 16px auto;
    }

    .chartHeight {
        height: 200px !important
    }

    .cardLineHeight {
        line-height: 94px !important
    }

    .tableMiniFilter span {
        line-height: 20px !important;
        margin-right: 7px !important;
        font-size: 9px !important;
    }

    .navBasicDiv {
        height: 25px !important;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .performanceBox li h5 {
        font-size: 8px !important;
        left: 40px !important;
    }

    .performanceBox li h2 {
        padding-right: 0 !important;
        left: 40px !important;
    }

    .performanceBox li h4 {
        font-size: 9px !important;
    }

    .performanceBox li i {
        left: 14px !important;
    }

    h2 {
        font-size: 13px !important;
    }

    .secondnpl {
        font-size: 9px !important;
    }

    table tr td {
        padding: 0 6px;
    }

    .btnChart {
        padding: 0 0.2rem !important
    }

    tbody.kirilimTable td {
        padding: 0 !important
    }
    .contentFilterSelectbox {
        padding: 16px 2px;
    }
    .tableMiniFilter span {
        font-size: 8px !important;
    }
    .navBasicDiv {
        height: 25px !important;
    }
}

@media screen and (max-width: 1024px) {
    .navBasicDiv {
        height: 25px !important;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .navBasicDiv {
        height: 25px !important;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 425px) {
    .navBasicDiv {
        height: 25px !important;
        margin: 10px;
        padding: 10px;
    }

    .performanceBox li h5 {
        left: 50px !important;
        top: 15px !important;
        font-size: 13px !important;
    }

    .performanceBox li h2 {
        left: 50px !important;
    }

    .performanceBox li i {
        left: 30px !important
    }

    /*    .performanceBox li h5 {
        left: 4px !important;
    }

    .performanceBox li h2 {
        left: 4px !important;
    }

    .performanceBox li i {
        display:none;
    }*/
    #tahsilatLogo {
        display: none !important
    }

    #myBtn {
        right: 140px !important;
        bottom: 2px !important
    }

    .mddLabel {
        margin: 8px 12px 0 0px;
    }

    .mddBolge {
        display: none !important;
    }

    .multipageMenu {
        width: 135px !important;
        right: 0 !important;
    }

    .navMenu li {
        width: 75px !important;
        height: 49px !important;
        padding: 0 !important;
        margin-right: 5px !important;
        margin-left: 2px !important;
        margin-top: 8px !important;
    }

        .navMenu li a {
            width: 72px !important;
            padding: 0 !important
        }

    .thirdnpl {
        padding-right: 17px !important;
        padding-top: 0px !important;
        font-size: 24px !important;
    }

    #graphButtons {
        margin-bottom: 1.5rem !important;
    }

    .tt3 {
        padding-top: 20px !important;
        display: inline-block !important;
    }

    #caprazKunye {
        padding-right: 15px !important;
        margin-bottom: 15px;
    }

    #caprazUrun, #chartPart {
        padding-left: 15px !important
    }

    .secondnpl {
        font-size: 11px !important;
    }
}
