@charset "UTF-8";


@media screen and (max-width: 1024px) {


    * {
        letter-spacing: -0.5px;
    }
    .centeredDiv {
        position: absolute;
        margin: auto;
        
        right: 0;
        bottom: 0;
        left: 0;
        width: 95%;
        max-width: 850px;
        
    }

    .navMenu li.menuActive b,
    .hideFilter span,
    .hideSidebar span,
    .filterNarrowMessage {
        display: none !important;
    }

    body.narrowMenu .navMenu li span {
        display: block !important;
    }

    #container {
        width: 100% !important;
        height: auto !important;
        display: inline-block !important;
    }

    .performanceMainTab {
        width: 50%;
        margin: 20px auto 10px;
    }

        .performanceMainTab span {
            padding-top: 3px;
        }

    .performanceBox {
        padding: 0;
    }

        .performanceBox li {
            width: 31.3%;
            height: auto;
            padding: 10px 0;
            display: inline-block;
        }

            .performanceBox li i {
                left: 50%;
                margin-left: -16px;
                top: 15px;
                padding: 0;
            }

    .performanceBoxB {
        margin: 0 3%;
    }

    .performanceBox li h5 {
        /*padding: 45px 0 0 0;*/
        float: none;
        height: auto;
        line-height: 12px !important;
        width: 100%;
        margin: 0 !important;
        /*text-align: center;*/
    }

    .performanceBox li h2 {
        width: 100%;
        display: inline-block;
        padding: 0;
        margin: 0;
        /*text-align: center;*/
    }

    .menu {
        position: fixed !important;
        float: none;
        /*left: 0;*/
        bottom: 0;
    }

    .filter {
        background: none;
        box-shadow: none;
        position: fixed;
        float: none;
        right: 0;
        top: 0;
        z-index: 9;
        width: 0;
        height: 100%;
        overflow: inherit;
    }

    body.narrowFilter .filter {
        background-color: #FFF;
        box-shadow: 9px 0 25px 0 rgba(219,224,230,0.67);
        width: 260px !important;
        height: 100%;
        overflow: inherit;
        padding: 0;
        padding-bottom: 50px;
    }

    .filterForm {
        overflow: scroll;
        height: 100%;
        width: 100%;
        padding: 0 25px 25px 25px;
    }

    .filterHead {
        padding: 20px 25px;
        margin: 0;
    }

    body.narrowFilter .filter .hideFilter {
        background-color: #fff;
        right: inherit;
        left: -44px;
        height: 60px;
        top: 0;
    }

        body.narrowFilter .filter .hideFilter i {
            background-color: #fff;
            width: 60px;
            height: 60px;
            left: 0;
            top: 0;
        }

    body.narrowFilter .filterForm,
    body.narrowFilter .filterHead {
        display: block;
    }

    .filterForm,
    .filterHead {
        display: none;
    }

    .hideFilter {
        position: fixed;
        top: 0;
        right: 0;
        left: inherit;
        bottom: inherit;
        width: 60px;
        height: 60px;
    }

        .hideFilter i {
            background: url(img/iconFilterNarrowMessage.png) no-repeat center center;
            background-size: 20px auto;
            border-radius: 0;
            width: 60px;
            height: 60px;
            left: 0;
            top: 0;
        }

    .content {
        overflow: scroll;
    }

    .contentFilter {
        position: relative;
        left: 0;
        padding: 15px;
        top: 0;
        height: auto;
        margin-bottom: 10px;
        overflow: inherit !important;
        display: inline-block;
    }

    .pageContent {
        padding: 0;
    }

    #sidebar {
        position: fixed;
        left: 0;
        /*top: 0;*/
    }

    body.narrowFilter #sidebar {
        height: 100%;
    }

    .narrowMenu .menu {
        width: 100% !important;
        height: 300px !important;
        overflow: hidden;
    }

    .navMenu li {
        padding: 0;
        width: 20%;
        margin: 0;
    }

        .navMenu li a i {
           /* left: 5px;*/
        }

    .menu {
        width: 100% !important;
        height: 60px !important;
        overflow: hidden;
    }

    body.narrowMenu .navMenu li span {
        font-size: 14px;
        line-height: 46px;
        opacity: 1;
    }

    .narrowMenu .logo,
    .logo {
        background-size: auto 50px;
        height: 60px;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 50%;
        margin-left: -50px;
    }

    .navMenu {
        margin: 0;
    }

    .hideSidebar {
        width: 60px;
        height: 60px;
        padding: 0;
        margin: 0;
        bottom: 0;
        left: 0;
        display: block;
    }

    .contentFilterToggle {
        border: 0;
        padding-bottom: 0 !important;
        padding: 0 30px 0 0;
        float: left;
    }

    .contentFilterSelectbox {
        padding-bottom: 0;
        padding:2px!important
    }

    .cfToggleC {
        float: right !important;
    }

    .cfSelectbox {
        min-width: 170px;
    }

    .cft2 span {
        padding: 0 30px;
    }

    .graphSafahat {
        position: absolute;
        right: 0;
        bottom: 15px;
    }

    .hideSidebar i {
        background-image: url(img/responsiveMenu.png);
        background-color: transparent;
        background-size: 20px auto;
        width: 60px;
        height: 60px;
        position: fixed;
        left: 0;
        top: 0;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    body.narrowMenu .hideSidebar i {
        background-image: url(img/responsiveMenuClose.png);
        background-size: 16px auto;
    }

    body.narrowMenu #container:before,
    body.narrowFilter #container:before,
    body.narrowFilter .menu:before {
        background-color: rgba(0,0,0,0.8);
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        display: block;
        animation: overlayEffect 0.3s;
    }

    @keyframes overlayEffect {
        from {
            background-color: rgba(0,0,0,0.1);
        }

        to {
            background-color: rgba(0,0,0,0.8);
        }
    }

    .contentFilterToggle.cft2.cft3 {
        padding: 2px 0 0 0;
        height: auto;
    }

    .contentStableReport .content,
    .contentSidebar {
        width: 100% !important;
        margin: 0 !important;
        float: none !important;
    }

    .contentSidebar {
        width: 100% !important;
        margin: 10px 0 0 0 !important;
        float: none !important;
    }

    .contentFilterSelectbox b {
        width: 100% !important;
    }

    .contentFilterSelectbox.cfsDate {
        border-right: 0;
        width: 50%;
        padding: 0 !important;
    }

    .cfsDate b {
        padding-top: 2px;
    }

    .cfsDate input {
        right: 32px;
        top: 2px;
    }

    .cft3 {
        position: absolute;
    }

    .contentPageTab {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
        display: inline-block;
        width: 100%;
    }

        .contentPageTab span {
            width: 33.33%;
        }

    table.tableContent td {
        line-height: 12px;
    }
    table.ozetContent td {
        line-height: 12px;
    }
    .tableScrollMobile {
        width: 100%;
        overflow: scroll;
    }

    #safahatPieList {
        width: 100%;
        padding: 20px 0 0 0;
    }

    .uyapSafahatler {
        width: 100%;
        background-position: center center;
        background-size: auto 20px;
    }

    table.tableFooter tr td {
        background-color: #fff;
        color: #792FFF;
    }

    .performanceChartTable {
        overflow: scroll;
    }

    .graphSafahatModal {
        width: 280px !important;
        padding: 15px !important;
    }

    .safahatPie {
        position: relative !important;
        width: 200px;
        margin: 0 auto;
    }

    .tableMiniFilter {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        max-width: 700px;
        width: 100%;
        margin: 0;
        border: 0;
        height: 52px;
        padding-right: 15px;
    }

        .tableMiniFilter span {
            line-height: 12px;
            margin-left: 15px;
            margin-right: 0;
            height: 44px;
            line-height: 50px;
            display: inline-block;
            float: inherit;
        }

        .tableMiniFilter span {
            border-bottom: 2px solid #E4D5FF;
        }

    .tableFooter {
        box-shadow: 0 -2px 1px 0 rgba(185, 173, 204, 0.15);
        z-index: 1;
        position: relative;
    }

    .tableHeader {
        margin-bottom: 10px;
        box-shadow: 0 2px 1px 0 rgba(185, 173, 204, 0.15);
        z-index: 1;
        position: relative;
    }

    .pageBack {
        display: none;
    }

    .resA {
        width: 1200px !important;
        height: 500px !important;
    }

    .resB {
        height: 500px !important;
    }

    .fullPageTable.resCs {
        height: 500px !important;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .resCs .tableHeader {
        top: -80px;
    }

    .resC {
        width: 1500px !important;
        height: 355px !important;
        padding-bottom: 40px;
        position: relative;
    }

    .resD {
        width: 100% !important;
    }

    .resE {
        width: 200% !important;
    }

    .cfsTeminat {
        width: 150px !important;
        border: 0;
        padding-right: 5px;
        padding-left: 0;
        padding-top: 0;
    }

    .cfsTutar {
        width: 150px !important;
        border: 0 !important;
        padding-left: 5px !important;
        padding-right: 0;
        !important;
        padding-top: 0 !important;
    }

    .contentFilterSearch {
        position: relative !important;
        width: 150px !important;
        padding: 0 0 0 0 !important;
    }

        .contentFilterSearch input {
            width: 100% !important;
        }
}


@media screen and (max-width: 768px) {

    .resA {
        width: 1200px !important;
        height: 500px !important;
    }

    .resB {
        height: 500px !important;
    }

    .fullPageTable.resCs {
        height: 500px !important;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
    }

    .resCs .tableHeader {
        top: -80px !important;
    }

    .resC {
        width: 1500px !important;
        height: 355px !important;
        padding-bottom: 40px !important;
        position: relative !important;
    }

    .resD {
        width: 768px !important;
    }

    .resE {
        width: 200% !important;
    }


    .rescfta {
        width: 100% !important;
        padding: 0 !important;
    }

    .cfsTeminat {
        width: 50% !important;
        border: 0 !important;
        padding-right: 5px !important;
        padding-left: 0 !important;
        padding-top: 10px !important;
    }

    .cfsTutar {
        width: 50% !important;
        border: 0 !important;
        padding-left: 5px !important;
        padding-right: 0 !important;
        padding-top: 10px !important;
    }

    .contentFilterSearch {
        position: relative !important;
        width: 100% !important;
        padding: 10px 0 0 0 !important;
    }

        .contentFilterSearch input {
            width: 100%;
        }

    .col-md-3,.col-md-4, .col-md-5, .col-md-6{
        margin-bottom:15px
    }
}




@media screen and (max-width: 425px) {
    .centeredDiv {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 95%;
        max-width: 850px;
        height: 100%
    }

    .performanceMainTab {
        width: 100% !important;
        margin: 20px 0 10px !important;
    }

    .perChartTabA {
        width: 170px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .rescfts {
        padding-top: 10px !important;
    }

    .indexHeader div h2 {
        font-size:1.5rem;
    }

    .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
        margin-bottom: 15px
    }
}
