* {
    scrollbar-color: #26ACBE transparent
}

.menu {
    background: url(../assets/img/sidebar.png) no-repeat left top;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.menuA i {
    background-image: url(../assets/img/menuIcon01.png);
}

.menuA i, .menuB i, .menuC i, .menuD i, .menuE i {
    background-size: 36px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}

.tab {
    bottom: 0 !important;
    background: transparent !important;
    top: auto;
    padding-left: 0;
    padding-right: 0;
    height: 69px;
    width: 100%;
    min-height: 62px;
    position: fixed !important;
    position: sticky !important;
}

.sidebar {
    right: 0 !important;
    /* width: 0% !important;*/
    left: unset !important;
}

.homeTableTitle {
    color: #336888 !important;
}

.tableMiniFilter span.active {
    color: #004C6D;
    border-bottom: 2px solid #004C6D;
}

.tableMiniFilter {
    border-bottom: 1px solid #004C6D5C;
}

.sb-sidenav .sb-sidenav-menu, .sidebarDiv {
    background: #336888 !important;
}

.contactButton {
    background: #6996b3 !important
}

.menu {
    background: url("img/sidebar3.png") no-repeat left top;
    background-size: 100% 100%;
}

.basvuruIcon i {
    background: url("img/2394347.png") no-repeat center center #336888;
    background-size: auto;
    background-size: 32px auto;
}

.performanceBoxE i {
    background: url("img/maxappeal.png") no-repeat center center #336888;
    background-size: auto;
    background-size: 32px auto;
}

.performanceBoxF i {
    background: url("img/confirmation.png") no-repeat center center #336888;
    background-size: auto;
    background-size: 32px auto;
}

.performanceBoxG i {
    background: url("img/activate.png") no-repeat center center #336888;
    background-size: auto;
    background-size: 32px auto;
}

.performanceBoxK i {
    background: url("img/oneappeal.png") no-repeat center center #336888;
    background-size: auto;
    background-size: 32px auto;
}

.performanceBoxM i {
    background: url("img/2394347.png") no-repeat center center #336888;
    background-size: auto;
    background-size: 32px auto;
}

.performanceBoxL i {
    background: url("img/oneactivate.png") no-repeat center center #336888;
    background-size: auto;
    background-size: 32px auto;
}

.performanceBoxN i {
    background: url("img/activaterate.png") no-repeat center center #336888;
    background-size: auto;
    background-size: 32px auto;
}
.cfSelectbox span.active p, .cfSelectbox2 span.active p {
    background: url("img/iconCheckWhite.png") no-repeat center center #289FB4;
    background-size: auto;
    background-size: 12px auto;
    border: 2px solid #289FB4;
}
.cfSelectbox span.active, .cfSelectbox2 span.active {
    color: #289FB4;
}
.cfSelectbox span:hover, .cfSelectbox2 span:hover {
    background-color: #CAE9EE;
}

.ui-widget-header {
    color: #2CCEE8;
    font-weight: bold;
}